.animation {
    position: relative;
    max-width: 100%;
    width: 512px;
    overflow: hidden;
    margin: auto auto;
}

.animation::before {
    content:"";
    display: block;
    padding-top: 100%;
}

.animation #box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-size: cover;
    
    animation-name: rotation;
    animation-timing-function:linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.animation #box:nth-child(1) {
    background-image: url(./assets/design/box1.png);
    animation-duration: 4s;
    animation-name: rotation2;
}

.animation #box:nth-child(2) {
    background-image: url(./assets/design/box2.png);
    animation-duration: 2s;
    animation-name: rotation2;
}

.animation #box:nth-child(3) {
    background-image: url(./assets/design/box3.png);
    animation-duration: 3.5s;
    animation-name: rotation;
}

.animation #box:nth-child(4) {
    background-image: url(./assets/design/box4.png);
    animation-duration: 1.5s;
}

.animation #box:nth-child(5) {
    background-image: url(./assets/design/box5.png);
    animation-duration: 2.0s;
    animation-name: rotation2;
}

.animation #box:nth-child(6) {
    background-image: url(./assets/design/logo.png);
}

@keyframes rotation {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotation2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}